:root {
    --nav-hover-color: #2d2d2d;

    --dark-primary-color: #121212;
    --secondary-color: #f2c7aa;
    --bracket-color: #d7ab37;
    --heading-color: #b5a896;
    --text-color: #aad5f2;
    --card-outline-color: #888a8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-primary-color);
    font-family: Consolas, 'Courier New', monospace;
    color: var(--text-color);
}

a {
    text-decoration: none;
    font-style: normal;
    color: var(--text-color);
}

/* Overlay Style Start */

.overlay {
    background-color: var(--text-color);
    opacity: 12%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 35px;
    z-index: -1;
}

/* Overlay Styles End */

/* Header Styling Start */

header {
    padding: 20px 35px;
    background-color: var(--dark-primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-position: 80%;
    z-index: 9999;
    box-shadow: 0px 0px 10px black;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--heading-color);
    margin: 0;
}

header h1 a {
    color: var(--heading-color);
}

header nav, .contact-menu {
    margin: 7px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Nav bar and contact menu */
header nav a, .contact-menu a {
    padding: 10px 15px;
    font-size: 1.55vw;
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
    border-bottom: 5px solid var(--card-outline-color);
    border-radius: 10px 10px 0 0;
}

header nav a {

}

header nav a:hover, .contact-menu a:hover {
    background-color: var(--card-outline-color);
    color: black;
}


/* Header Styling End */

/* Hero Styling Start */

.hero {
    background-image: url("../images/helloworld.jpg");
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero h2 {
    font-size: 30px;
    background: var(--card-outline-color);
    padding: 15px;
    margin: 15px;
    color: black;
    border-radius: 15px;
}

/* Hero Styling End */

/* Main Styling Start */

main {
    margin: 10px 25px;
}

main section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    position: relative;
}

main section h2 {
    color: var(--heading-color);
    font-size: 48px;
    margin: 25px 0px;
    width: 25%;
    text-align: right;
    padding-right: 25px;
    border-right: 5px solid var(--bracket-color);
}

main > section > div {
    padding: 25px;
}

/* Main Styling End */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

/* Work Styling Start */

.card {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1 45%;
    height: 150px;
    overflow: hidden;
    margin: 10px;
    border: 5px solid var(--card-outline-color);
}
.card:first-of-type {
    flex: 1 100%;
    height: 300px;
}

.card img {
    position: absolute;
    filter: brightness(0.4);
    top: 0;
    width: 100%;
    transition: filter 1s;
}

.card-title {
    position: absolute;
    padding: 8px;
    left: 0;
    bottom: 20px;
    background: var(--card-outline-color);
    color: black;
    border-radius: 0 15px 15px 0;
}

.card-title h3 {
    font-size: 30px;
}

.card-title h4 {
    font-size: 18px;
    font-style: italic;
}

.card:hover img {
    filter: brightness(1);
}

/* Work Styling End */

/* Contact Styling Start */

.contact-menu {
    flex: auto;
}




/* Contact Styling End */

/* Alternative Devices and Screen Sizes Styling Start */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    main {
        margin: 10px 0;
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav a, .contact-menu a {
        font-size: 20px;
    }

    .hero {
        justify-content: center;
    }

    main section {
        margin: 0 10px 25px 10px;
        padding: 0 10px 25px 10px;
    }

    main section h2 {
        text-align: center;
        width: 100%;
        border: none;
        border-bottom: 5px solid var(--bracket-color);
    }

    main section div {
        padding: 0;
    }

    .card, .card:first-of-type {
        height: 150px;
        flex: 1 100%;
    }

    .contact-menu {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header nav a {
        flex: 50%;
    }
}

/* Alternative Devices and Screen Sizes Styling End */